<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
</head>
<body>

<h1>Weather Application</h1>

<input type="text" id="city" placeholder="Enter city name">
<br><br>

<button onclick="getWeather()">Get Weather</button>

<p id="result"></p>

<canvas id="weatherChart" width="400" height="200"></canvas>

<!-- Chart.js FIRST -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Your JS -->
<script src="/static/script.js"></script>

</body>
</html>
